.pagedetails {
    display: none;
}

#wb-info .gc-contextual {
    background: #26374a url(https://www.canada.ca/etc/designs/canada/wet-boew/assets/landscape.png) no-repeat right bottom
}

#wb-info nav {
    padding-bottom: 1em !important;
    padding-top: 2em !important;
    position: relative;
}

#wb-info .brand,#wb-info .gc-sub-footer {
    padding-top: 0em !important; 
}

#wb-info .brand img, #wb-info .brand object, #wb-info .gc-sub-footer img, #wb-info .gc-sub-footer object {
    margin-top: 15px;
    margin-bottom: 15px;
}
/*
#wb-bc li:first-child:before {
    content: "\e132";
    display: inline !important;
    padding: 0 4px 0 0;
    color: #333;
    font-family: "Glyphicons Halflings";
    font-size: .7em;
    position: relative;
}
*/
